label {
  padding-left: 26px;
  padding-right: 26px;
  width: 120px;
  font-weight: 500;
  font-size: larger;
  display: inline-block;
}

.gadget-card {
  border: 1px solid rgba(128, 128, 128, 0.365);
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16),
    0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
  padding: 1rem;
  box-sizing: border-box;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  background: white;
  width: fit-content;
  margin: 5px;
}

.gadget-list {
  display: flex;
  justify-content: 'center';
  flex-wrap: wrap;
  margin-top: 70px;
}

.header {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background-color: whitesmoke;
  position: fixed;
  padding: 10px 50px;
  top: 0;
  width: 95%;
  z-index: 1;
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16),
    0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
}

.gadget-img {
  width: 200px;
}

a {
  text-decoration: none;
}

.heading {
  width: 100%;
  font-weight: 600;
  font-size: 1.7rem;
  color: black;
}

.gadget-details {
  margin-top: 50px;
}

.reviews {
  margin-top: 50px;
  border-top: 1px solid rgba(128, 128, 128, 0.407);
}
.rating-and-review-care {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.407);
}

.user-name {
  color: gray;
}

.active-link {
  border-bottom: 2px solid skyblue;
}

.rating {
  display: flex;
  background-color: green;
  color: white;
  border-radius: 2px;
  padding: 1px;
  width: fit-content;
}

.gadget-container {
  margin: 0 25% 10%;
}

.add-btn {
  margin-top: 5px;
  background-color: rgb(140, 84, 162);
  height: 2rem;
  width: 8rem;
  color: white;
  border: 1px solid rgb(140, 84, 162);
  font-weight: 900;
  cursor: pointer;
  border-radius: 2px;
}

.label-input {
  margin: 10px 0px;
  font-weight: 1.5px;
}

.user-details {
  display: flex;
  margin: 4% 30px;
}

.user-details img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.logo {
  width: 80px;
}

.app-name {
  color: rgb(140, 84, 162);
  font-weight: 700;
  font-size: x-large;
  margin-left: 10px;
}

.logout {
  height: fit-content;
  padding: 8px 15px;
  margin: 9% auto;
  border-radius: 5px;
  background-color: rgba(250, 128, 114, 0.757);
}

.user-nav {
  display: 'flex';
}

.nav-link {
  color: rgb(140, 84, 162);
  width: fit-content;
  font-size: x-large;
  font-weight: 500;
  padding: 1px 10px;
}

.nav-link:hover {
  border-bottom: 2px solid black;
}

.login {
  margin: 10% 40%;
}

.login-with {
  background-color: black;
  color: white;
  border-radius: 2px;
  padding: 10px 30px;
  margin-top: 20px;
  font-size: x-large;
  font-weight: 500;
}

.welcome {
  font-size: x-large;
  font-weight: 500;
  color: rgb(140, 84, 162);
  padding: 200px 0 0 400px;
}

.ask-review {
  margin-top: 70px;
}

.add-gadget-input {
  width: 300px;
}
