label {
  padding-left: 26px;
  width: 120px;
  display: inline-block;
}

.gadget-card {
  border: 1px solid rgba(128, 128, 128, 0.365);
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16),
    0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
  padding: 1rem;
  box-sizing: border-box;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  background: white;
  width: fit-content;
  margin: 5px;
}

.gadget-list {
  display: flex;
  justify-content: 'center';
  flex-wrap: wrap;
  margin-top: 100px;
}

.header {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background-color: whitesmoke;
  position: fixed;
  padding: 10px 50px;
  top: 0;
  width: 95%;
  z-index: 1;
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16),
    0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
}

.gadget-img {
  width: 200px;
}

a {
  text-decoration: none;
}

.heading {
  width: 100%;
  font-weight: 600;
  font-size: 1.7rem;
  color: black;
}

.gadget-details {
  margin-top: 100px;
}

.reviews {
  margin-top: 50px;
  border-top: 1px solid rgba(128, 128, 128, 0.407);
}
.rating-and-review-care {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.407);
}

.user-name {
  color: gray;
}

.active-link {
  border-bottom: 2px solid skyblue;
}

.rating {
  display: flex;
  background-color: green;
  color: white;
  border-radius: 2px;
  padding: 1px;
  width: fit-content;
}

.gadget-container {
  margin: 0 25% 10%;
}

.add-btn {
  background-color: white;
  height: 3rem;
  width: 8rem;

  border: 1px solid green;
  color: green;
  font-weight: 900;
  cursor: pointer;
}

.add-btn:hover {
  background-color: green;
  color: white;
}

.label-input {
  margin: 10px 0px;
  font-weight: 1.5px;
}

.user-details {
  display: flex;
}

.user-details img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
